.calculatorParameters {
  min-height: 100vh;
  padding: 10px;
  background: url('https://www.vidbydova.com.ua/assets/img/background.avif') no-repeat top left/cover;
}

.calculatorParametersTitleOrange {
  color: #FF9F10;
}

.wrapperParameters {
  margin-bottom: 5px;
  padding: 5px 25px;
}

.formComponent {
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 90%;
}

.formLabel {
  position: absolute;
  left: 12px;
  top: 3px;
  color: #2e2727;
  font-family: 'Sansation', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  z-index: 1;
}

.formInputText {
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-left: 13px;
  width: 100%;
  height: 51px;
  border-radius: 9px !important;
  background-color: #ffffff;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.formInputText::placeholder {
  color: #000;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.formSelect {
  padding-top: 20px;
  padding-right: 26px;
  padding-bottom: 5px;
  padding-left: 13px;
  -webkit-padding-start: 13px;
  -webkit-padding-end: 5px;
  -webkit-appearance: initial;
  width: 100%;
  height: 51px;
  border-radius: 9px !important;
  background-color: #ffffff;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
}

.formSelect option {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.arrowDownRight {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 2px;
  height: 15px;
  transform: rotate(45deg);
  background-color: #000000;
}

.arrowDownLeft {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 2px;
  height: 15px;
  transform: rotate(-45deg);
  background-color: #000000;
}