.calculatorResult {
  /* margin-bottom: 20px; */
  padding: 15px;
  min-height: 100vh;
  background: url('https://www.vidbydova.com.ua/assets/img/background.avif') no-repeat top left/cover;
}

.resultWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.resultLeft {
  padding: 40px 20px;
  border: 2px solid rgb(255, 159, 16);
  border-radius: 10px;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.05);
}

.resultTitle {
  margin-bottom: 50px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 31px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}

.inputBox {
  position: relative;
  margin-bottom: 75px;
}

.phoneInput {
  width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  outline: none;
}

.phoneInput:focus {
  outline: none;
}

.phoneInput::placeholder {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: -30px;
  margin: 0;
  color: #ff0000;
  font-size: 12px;
  font-weight: 700;
}

.subText {
  margin-bottom: 25px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.messengers {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 20px;
}

.messengerImg {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.messengerImg.select {
  border: 2px solid #FF9F10;
}

.submitBtn {
  display: block;
  margin: 0 auto;
  padding: 23px 66px;
  border-radius: 13.9px;
  background: #FF9F10;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  cursor: pointer;
}

.submitBtn:disabled {
  background-color: #505050;
  cursor: not-allowed;
}

.resultRightTop {
  margin: 0 auto;
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
  border-radius: 20px;
  backdrop-filter: blur(60px);
  background: rgba(0, 0, 0, 0.05);
}

.resultRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}

.resultText {
  padding: 10px;
  border-radius: 9px;
  background: #ffffff;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
}

.resultValue {
  padding: 10px;
  border-radius: 9px;
  background: #ffffff;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
}

.resultRight {
  max-width: 690px;
}

.sliderTitle {
  margin-bottom: 40px;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 37px;
  font-weight: 600;
  line-height: 54px;
}

.slide {
  width: 100%;
  height: 100%;
  min-height: 315px;
  position: relative;
  overflow: hidden;
}

.slide .slideName a:last-child {
  margin-left: 20px;
}

.slide .slideBtn {
  background-color: #ffffff;
  height: 100%;
}

.slide:hover .slideImg {
  transform: scale(1.2);
}

.slide .slideBottom {
  padding-bottom: 0;
  padding-left: 70px;
}

.slideMainLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.sildeImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s;
  z-index: 1;
  transform-origin: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slideBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 10px;
  padding-bottom: 45px;
  width: 100%;
  background: rgba(0, 0, 0, 0.49);
  display: flex;
  align-items: center;
  z-index: 10;
  padding-left: 70px;
}

.slideBtn {
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 20px;
  padding: 10px 15px;
  width: 50px;
  height: 100%;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ff9f10;
  z-index: 20;
  transition: 0.25s;
}

.slideBtn:hover .slideBtnArrow {
  transform: translate(8px, 0);
}

.slideBtnArrow {
  width: 30px;
  height: 25px;
  z-index: 12;
  position: relative;
  transition: 0.25s;
  transform-origin: center;
  background-image: url('https://www.vidbydova.com.ua/wp-content/themes/sm/img/m_1_but_arrow_blue.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slideName {
  padding: 10px 0;
  padding-right: 100px;
  min-height: 45px;
}

.slideName a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  bottom: 0;
  padding: 0;
  color: transparent;
  opacity: 1;
  font-size: 0;
  line-height: 0;
  border: none;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  z-index: 99;
}

.swiper-button-next::after {
  right: 0;
  background-image: url('https://www.vidbydova.com.ua/wp-content/themes/sm/img/slick_next.svg');
}

.swiper-button-prev::after {
  right: 45px;
  background-image: url('https://www.vidbydova.com.ua/wp-content/themes/sm/img/sllick_prev.svg');
}

.resultBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.resultBtn {
  margin: 10px;
}

@media screen and (max-width: 426px) {
  .calculatorResult {
    padding-left: 10px;
    padding-right: 10px;
  }

  .resultRight {
    max-width: 420px;
  }

  .resultLeft {
    padding: 10px;
  }

  .resultTitle {
    font-size: 25px;
  }

  .phoneInput {
    margin-bottom: 35px;
  }

  .phoneInput,
  .phoneInput::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .subText {
    font-size: 12px;
  }

  .messengerImg {
    width: 60px;
    height: 60px;
  }

  .submitBtn {
    font-size: 20px;
  }

  .resultRightTop {
    padding: 10px;
    max-width: 420px;
  }

  .resultText,
  .resultValue {
    font-size: 20px;
  }

  .sliderTitle {
    font-size: 25px;
    text-align: center;
  }

  .resultRightBottom {
    display: none;
  }
}