.roomsComponent {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.roomsAreaWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 426px) {
  .roomsComponent {
    justify-content: flex-end;
    gap: 15px 0;
  }
}