.calculatorAdditionalOptions {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 100vh;
  background: url('https://www.vidbydova.com.ua/assets/img/background.avif') no-repeat top left/cover;
}

.additionalOptionsWrapper {
  width: 1200px;
  max-width: 95%;
}

.additionalOptionsBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.additionalOptionsList {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 50px;
  list-style: none;
}

.additionalOptionsItem {
  position: relative;
  padding: 10px 42px;
  border-radius: 9px;
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.additionalOptionsItem::before {
  content: '';
  position: absolute;
  left: 5px;
  top: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 100%;
  outline: none;
}

.additionalOptionsItem.active::before {
  content: url("https://www.vidbydova.com.ua/assets/img/check.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 426px) {
  .additionalOptionsWrapper {
    width: 95%;
  }

  .additionalOptionsList {
    grid-template-columns: 1fr;
  }

  .additionalOptionsItem {
    padding-right: 0;
    font-size: 18px;
  }
}