.roomsArea {
  gap: 0;
  height: 50px;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
}

.roomsAreaLabel {
  margin: 0;
  margin-right: 20px;
  color: #2E2727;
  font-family: 'Sansation', sans-serif;
  font-size: 15px;
  font-weight: 300;
  /* line-height: 19px; */
}

.roomsArea span {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.roomsAreaInput {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  width: 50px;
  height: 20px;
  border-radius: 3px !important;
  border: 0.5px solid #FF9F10;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  color: #2E2727;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}