.step {
  max-width: 65px;
  color: #FFF;
  text-align: center;
  font-family: 'Sansation', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  list-style: none;
}

.ellipse {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 17px;
  width: 36px;
  height: 36px;
  background-color: #FF9F10;
  border-radius: 50%;
}

.step.active .ellipse {
  margin-top: 0;
  margin-bottom: 10px;
  width: 53px;
  height: 53px;
  background-color: transparent;
  border: 5px solid #ff9f10;
}