.calculatorCondition {
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 100vh;
  background: url('https://www.vidbydova.com.ua/assets/img/background.avif') no-repeat top left/cover;
}

.conditionWrapper {
  padding: 15px;
  max-width: 98%;
  width: 1145px;
}

.conditionWallsFloors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-bottom: 25px;
}

.conditionImg {
  display: none;
  margin: 0 auto;
  margin-bottom: 22px;
  height: 160px;
}

.conditionImg.active {
  display: block;
}

.conditionWallsMiddle,
.conditionFloorsMiddle {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: 'Sansation', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.conditionWallsBottom,
.conditionFloorsBottom {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: 'Sansation', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
}

.conditionWallsBottom p,
.conditionFloorsBottom p {
  max-width: 120px;
}

.conditionWallsMiddle p,
.conditionFloorsMiddle p {
  max-width: 150px;
}

.conditionWallsMiddle p.active,
.conditionFloorsMiddle p.active {
  color: #ff9f10;
}

.conditionSwitch {
  position: relative;
  width: 56px;
  height: 28px;
  background-color: #ff9f10;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all .3s;
}

.conditionSwitchOne {
  position: absolute;
  left: 11px;
  top: 50%;
  width: 2px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  transform: translateY(-50%);
}

.conditionSwitchToggle {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}

.conditionSwitchToggle.right {
  transform: translate(30px, -50%);
}

.conditionSwitchToggle.left {
  transform: translate(2px, -50%);
}

.conditionSwitchUno {
  position: absolute;
  right: 11px;
  top: 50%;
  width: 2px;
  height: 10px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  transform: translateY(-50%);
}

.textRight {
  text-align: right;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.btn {
  margin-bottom: 0;
}

@media screen and (max-width: 426px) {
  .conditionWrapper {
    padding: 5px;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .conditionWallsFloors {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .conditionImg {
    width: 100%;
    height: auto;
  }
}