.roomsNumbers {
    width: 287px;
    height: 50px;
}

.roomsLabel {
    margin: 0;
    color: #000000;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.roomsNumber {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.minus,
.plus {
    padding: 0;
    width: 30px !important;
    height: 30px;
    color: #000000;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    border-radius: 2px;
    border: 0.5px solid #000000;
    cursor: pointer;
}

.roomsCount {
    color: #000000;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 300;
}