.options {
  position: absolute;
  cursor: pointer;
  font-family: 'Sansation', sans-serif;
  z-index: 4;
}

.optionBox {
  position: relative;
  padding: 5px 25px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 39px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: #FF9F10;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
}

.optionDot {
  width: 22px;
  height: 22px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.optionsList {
  position: absolute;
  top: 40px;
  left: 0;
  margin: 0;
  padding: 20px 40px;
  display: none;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  backdrop-filter: blur(60px);
  background: rgba(0, 0, 0, 0.05);
  list-style: none;
  z-index: 5;
}

.optionsList.active {
  display: flex;
}

.optionListItem {
  position: relative;
  padding-left: 40px;
  max-width: 160px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
}

.optionListItem::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.optionListItem.active::before {
  content: url("https://www.vidbydova.com.ua/assets/img/check.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionImage {
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 426px) {
  /* .options {
    position: static;
  }

  .optionsList {
    top: auto;
    bottom: 40px;
  } */
}