.calculatorRooms {
  padding: 10px;
  min-height: 100vh;
  background: url('https://www.vidbydova.com.ua/assets/img/background.avif') no-repeat top left/cover;
}

.roomsWrapper {
  max-width: 535px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.btn {
  margin-bottom: 0;
  font-size: 11px;
  line-height: 41px;
  letter-spacing: 0.69px;
}

.btnPrev {
  margin-bottom: 0;
}

@media screen and (max-width: 426px) {
  .btn {
    order: 0;
    font-size: 8px;
  }

  /* .btnPrev {
    order: 1;
  } */
}