.bathroom {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.bathroomContent {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bathroomContentParts {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.bathroomHeaders {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: 2;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 291px;
  height: 73px;
  border: 1px solid #FF9F10;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.priceNum {
  color: #FF9F10;
}

.bathroomBottom {
  position: absolute;
  left: 0;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  z-index: 1;
}