* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
}

.calculator-title {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-family: 'Sansation', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.calculator-subtitle {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}

.calculator-new .dark {
  color: #000000;
}

.calculator-wrapper {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 25px;
  max-width: 694px;
  background: rgba(0, 0, 0, 0.05) url("https://www.vidbydova.com.ua/wp-content/themes/sm/img/input-bg.webp") no-repeat left top/cover;
  backdrop-filter: blur(30px);
  border-radius: 25px;
}

.calculatorFieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator-form-bottom {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.calculator-new__btn {
  position: relative;
  display: block;
  margin: 0 auto;
  /* margin-bottom: 17px; */
  width: 210px !important;
  height: 50px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.834px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #ff9f10;
  box-sizing: border-box;
}

.calculator-new__btn.btn-next {
  background-color: #ff9f10;
  color: #fff;
}

.calculator-new__btn:before {
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  transition: 0.25s;
  background-color: #ff9f10;
}

.calculator-new__btn:after {
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  position: absolute;
  bottom: -1px;
  transition: 0.25s;
  right: -1px;
  z-index: 1;
  background-color: #ff9f10;
}

.calculator-new__btn.btn-next:before,
.calculator-new__btn.btn-next:after {
  background-color: #fff;
}

.calculator-new__btn span {
  position: relative;
  z-index: 20;
}

.calculator-new__btn:hover {
  color: #fff;
}

.btn-prev:hover svg {
  fill: #fff;
}

.calculator-new__btn.btn-next:hover {
  color: #000;
}

.btn-next:hover svg {
  fill: #000;
}

.calculator-new__btn:hover:after {
  width: 100%;
  height: 100%;
}

.calculator-new__btn:hover:before {
  width: 100%;
  height: 100%;
}

.roomsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 9px;
  background-color: #ffffff;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.calculator-new .swiper-button-prev,
.calculator-new .swiper-button-next {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  top: auto;
  bottom: 0;
  padding: 0;
  color: transparent;
  opacity: 1;
  font-size: 0;
  line-height: 0;
  border: none;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  z-index: 99;
}

.calculator-new .swiper-button-prev:hover,
.calculator-new .swiper-button-next:hover {
  background-color: #ff9f10;
}

.calculator-new .swiper-button-prev {
  right: 45px;
  left: auto;
  background-image: url("https://www.vidbydova.com.ua/wp-content/themes/sm/img/sllick_prev.svg");
}

.calculator-new .swiper-button-next {
  right: 0;
  background-image: url("https://www.vidbydova.com.ua/wp-content/themes/sm/img/slick_next.svg");
}

@media screen and (max-width: 426px) {

  .calculator-new .calculator-title.dark,
  .calculator-new .calculator-subtitle.dark {
    color: #000000;
  }

  .calculator-new .calculator-title.mobileLight,
  .calculator-new .calculator-subtitle.mobileLight {
    color: #ffffff;
  }

  .calculator-new .calculator-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .calculator-new .calculator-subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .calculator-new .dark {
    color: #ffffff;
  }

  .calculator-new__btn {
    width: 160px !important;
    height: 40px;
    font-size: 10px;
    line-height: normal;
  }

  .calculator-new__btn svg {
    display: none;
  }

  .swiper-container {
    width: 426px;
  }

  .swiper-slide {
    width: 100%;
    /* 1 слайд на всю ширину */
  }
}

:not(#\20):not(#\20):not(#\20).buttonizer-group-0-0-1 {
  bottom: 15% !important;
}

#bingc-phone-button {
  bottom: 15% !important;
}

@media (max-width: 426px) {
  .calculator-new {
    overflow-x: auto;
  }

  .calculator-new .calculatorFieldset {
    padding-top: 30px;
  }

  .swiper-slide {
    width: 50%;
    /* 2 слайди в ряд */
  }
}