/* Подключение Sansation Light */
@font-face {
  font-family: 'Sansation';
  src: url('./fonts/Sansation-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Подключение Sansation Light Italic */
@font-face {
  font-family: 'Sansation';
  src: url('./fonts/Sansation-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Подключение Sansation Regular */
@font-face {
  font-family: 'Sansation';
  src: url('./fonts/Sansation-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Подключение Sansation Italic */
@font-face {
  font-family: 'Sansation';
  src: url('./fonts/Sansation-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Подключение Sansation Bold */
@font-face {
  font-family: 'Sansation';
  src: url('./fonts/Sansation-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Подключение Sansation Bold Italic */
@font-face {
  font-family: 'Sansation';
  src: url('./fonts/Sansation-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}